services:
    first-app:
        build:
            context: './docker-app/php-8.1'
            dockerfile: Dockerfile
        links:
          - mysql
        ports:
            - "80:80"
        environment:
            - VIRTUAL_PORT=80

    second-app:
        build:
            context: './docker-app/php-8.1'
            dockerfile: Dockerfile
        links:
          - mysql
        ports:
            - "85:80"
            - "20022:2022"
        environment:
            - VIRTUAL_PORT=80
    mysql:
        build:
            context: docker/mysql/
            dockerfile: MySQL-5.7.dockerfile
        ports:
            - "14306:3306"
        env_file:
            - docker-app/etc/environment.yml

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        ports:
            - 8081:80
        links:
            - mysql
        environment:
            - PMA_ARBITRARY=1
            - VIRTUAL_PORT=80
            - UPLOAD_LIMIT=1G

    mail:
        image: mailhog/mailhog
        ports:
            - 8025:8025
            - 1025:1025
        environment:
            - VIRTUAL_HOST=mail.boilerplate.docker
            - VIRTUAL_PORT=8025