services:
    first-app:
        build:
            context: './docker-app/php-8.5'
            dockerfile: Dockerfile
        links:
          - mysql
        ports:
            - "80:80"
        environment:
            - VIRTUAL_PORT=80
    second-app:
        build:
            context: './docker-app/php-8.5'
            dockerfile: Dockerfile
        links:
          - mysql
        ports:
            - "85:80"
            - "20022:2022"
        environment:
            - VIRTUAL_PORT=80
    mysql:
        build:
            context: './docker-app/mysql-8.0'
            dockerfile: Dockerfile
        ports:
            - "14306:3306"
        env_file:
            - docker-app/etc/environment.yml

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        ports:
            - 8081:80
        links:
            - mysql
        environment:
            - PMA_ARBITRARY=1
            - VIRTUAL_PORT=80
            - UPLOAD_LIMIT=1G

    mail:
        image: axllent/mailpit
        container_name: mailpit
        restart: unless-stopped
        volumes:
            - ./data:/data
        ports:
            - 8025:8025
            - 1025:1025
        environment:
            MP_MAX_MESSAGES: 5000
            MP_DATABASE: /data/mailpit.db
            MP_SMTP_AUTH_ACCEPT_ANY: 1
            MP_SMTP_AUTH_ALLOW_INSECURE: 1